@import "/home/johanrodallega/.cache/wal/colors-waybar.css";


* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family:"JetBrainsMono Nerd Font", "otf-font-awesome";
    font-size: 13px;
}

#custom-steam{
	border-radius: 12px;
    padding: 0 10px;
    background: @color1;
    color: @foreground;
}

#custom-notifications {
    background-color: alpha(@background,0.8);
    color: @foreground;

    padding: 0 16px;
    margin: 6px;

    border-radius: 14px;
}

#custom-updates {
    background-color: @background;
    color: @foreground;


    margin: 6px;
    padding: 4px 12px;

    border-radius: 14px;
}

#custom-weather {
    background-color: @background;
    color: @foreground;
    margin: 6px;
    padding: 4px 12px;

    border-radius: 14px;
}


window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5);*/
    background-color:rgba(255, 255, 255, 0) ;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;

}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    transition: all 0.25s ease;
}

/*#workspaces button {
    padding: 2px 8px;
    margin: 0px  4px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: rgba(205, 214, 244, 0.864);
    box-shadow: none;
    text-shadow: none;
    border: none;
}*/ 
   #workspaces button {
    padding: 0 3px;
    margin: 3px 5px;
    border-radius: 7px;

    background: transparent;
    color: @foreground;

    transition:
        all 0.25s ease-in-out;
}

#workspaces button:hover {
    background: alpha(@color4, 0.4);
    color: @foreground;
    border-radius: 7px;
    box-shadow: none;
}

#workspaces button.focused {
    background-color: rgb(100, 114, 125);
    box-shadow: inset 0 -3px #ffffff6d;
}

#workspaces button.active {
    background: @color4;
    color: @background;

    padding-left: 12px;
    padding-right: 12px;

    box-shadow: inset 0 -2px #ffffffad;
}

#workspaces button.occupied {
    color: @foreground;
    background: alpha(@color2,0.6);
}



#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,

#temperature {
    margin: 6px;
    padding: 4px 16px;

    border-radius: 14px;

    background: rgba(255,255,255,0.05);

    color: #f9e2af;

    transition: all 0.3s ease;
}

#temperature.critical {
    color: #f38ba8;
    background: rgba(243,139,168,0.15);
} 

#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
  color: #ffffff;
}

#custom-power {
  margin: 6px;
  padding: 0 16px;

  border-radius: 14px;

  background: #1e1e2e;

  color: #ff9100;

  transition: all 0.25s ease;
}

#custom-power:hover {
  background: rgb(255, 255, 255);
  color: #000000;
}

#window,
#workspaces {
    background-color: alpha(@background,0.8);
    padding: 4px 12px;
    margin:6px;
    border-radius: 14px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 15px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: alpha(@background,0.8);
    padding: 4px 20px;
    margin:6px;
    border-radius: 14px;
    color: white; 
}

#battery {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
    color: white; 
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
    color: white;
}

#memory {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
    color: white;
}

#disk {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
    color: white;
}

#backlight {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
}

#network {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;
    background-color: alpha(@background,0.8);
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: rgba(255,255,255,0.05);

    color: @foreground;

    min-width: 100px;

    margin: 6px;
    padding: 4px 12px;

    border-radius: 14px;
}

#custom-media.custom-spotify {
    background-color: rgba(255,255,255,0.05);
}

#custom-media.custom-vlc {
    background-color: rgba(255,255,255,0.05);
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: alpha(@background,0.8);
    padding: 4px 16px;
    margin:6px;
    border-radius: 14px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
