window {
    background-color: rgba(17,17,27,0.75);
}

button {
    background-color: rgba(30,30,46,0.85);

    color: #cdd6f4;

    border-radius: 18px;

    border: 2px solid transparent;

    margin: 12px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;

    min-width: 140px;
    min-height: 140px;
}

button:hover {
    background-color: rgba(49,50,68,0.95);

    border-color: #cba6f7;

    color: #cba6f7;
}

/* ICONOS */

#lock {
    background-image: image(url("/home/johanrodallega/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/johanrodallega/.config/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/home/johanrodallega/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/johanrodallega/.config/wlogout/icons/reboot.png"));
}

#suspend {
    background-image: image(url("/home/johanrodallega/.config/wlogout/icons/suspend.png"));
}
